{% load static %}
<html>
<head>
    <title>서창우 자기소개</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>서창우 자기소개 페이지</h1>
        <ul>
            <li>👨‍💼 나이: 26</li>
            <li>💼 직업: 회사원</li>
            <li>🏫 학과: IT디자인융합학부</li>
            <li>📚 학년: 1학년</li>
            <li>🎮 취미 및 관심분야: 게임</li>
            <li>☕ 좋아하는 것: 커피</li>
        </ul>

	<p style="margin-top: 30px; font-size: 15px; color: #555;">
            안녕하세요 저는 안산에 거주하고, 직장생활 중입니다.<br>
            앞으로 성장하기 위해 새로운 것을 배우려고 학교에 입학했습니다.<br>
	    잘부탁드립니다!
	</p>
    </div>
</body>
</html>

